@font-face {
    font-family: "dM Serif display";
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/dmserifdisplay400.woff2") format("woff2"),
    url("./fonts/dmserifdisplay400.woff") format("woff"); 
}
@font-face {
    font-family: "Karla";
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/karla400.woff2") format("woff2"),
    url("./fonts/karla400.woff") format("woff");
}
@font-face {
    font-family: "Karla";
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/karla700.woff2") format("woff2"),
    url("./fonts/karla700.woff") format("woff");
}




/* global codes  */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Karla";
    font-weight: 400;   
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.container {
    width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* site header start */

.headaer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 19px;
}
.header-box {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.header-item:not(:first-child){
    margin-left: 25px;
}
.header-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837d88;
}
.header-link:hover {
    color: #2C2830;
}
.header-last-anchor {
    margin-left: 33px;
    padding: 13px 28.5px 12px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #2C2830;
    text-decoration: none;
    background: #ffffff;
    border: 1.5px solid #2C2830;
}
.header-last-anchor:hover {
    color: #ffffff;
    background: #2C2830;
    border: 1.5px solid #2C2830;
}
/* site header finish */

/* site main start  */

/* hero section start  */
.hero {
    background-color: #2d2641;
    background-image: url(./images/images/heroback.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 650px) -140px;
}
.hero-inner {
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.hero-bigbox {
    position: relative;
    width: 540px;
    margin-top: 170px;
}
.hero-bigbox::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    left: 0px;
    top: -63px;
    background-color: #fff;
}
.hero-title {
    font-family: 'dM Serif display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #ffffff;
}
.hero-desc {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #ffffff;
}
.hero-anchor {
    display: inline-block;
    padding: 13px 28.5px 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
    border: 1.5px solid #ffffff;
}
.hero-anchor:hover {
    color: #2C2830;
    background: #ffffff;
    border: 1.5px solid #ffffff;
}
.bitmap {
    position: relative;
    top: 105px;
}
/* hero section finsh  */

/* differences section start  */
.difference {
    margin-top: 369px;
    position: relative;
    margin-bottom: 158px;
}
.difference-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    left: calc(50% - 550px);
    top: -64px;
    background-color: #C396C6;
}
.difference-title {
    font-family: 'dM Serif display';
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2C2830;
}
.difference-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    margin-top: 96px;
    list-style: none;
}
.difference-item {
    width: 350px;
}
.item-title {
    font-family: 'dM Serif display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 38px;
    letter-spacing: -0.388889px;
    color: #2C2830;
}
.item-desc {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 26px;
    color: #837d88;
}
/* differences section finish  */

/* site article start  */

.article-inner {
    background-color: #2d2641;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    padding: 69px 80px;
}
.article-text-box {
    width: 475px;
}
.article-title {
    font-family: 'dM Serif display';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    margin: 0;
    color: #ffffff;
}
.article-anchor {
    padding: 13px 24.5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #ffffff;
    border: 1.5px solid #ffffff;
}
.article-anchor:hover {
    color: #2C2830;
    background: #ffffff;
    border: 1.5px solid #ffffff;
}
/* site article finish  */

/* site main finish  */


/* site footer start  */
.site-footer {
    background-color: #fafafa;
    padding: 64px 0;
    /* background-image: url(./images/images/heroback.svg);
    background-repeat: no-repeat;
    background-position: -170px -419px; */
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 1px solid #dadada;
}
.social-media-list {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.social-media {
    margin-left: 16px;
}
.social-media-link {
    color: #837D88;
}
.social-media-link:hover {
    color: #2C2830;
}
.footer-bottom {
    padding-top: 48px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.footer-item {
    width: 255px;
}
.footer-item-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 36px;
    color: #837d88;
}
.item-list {
    list-style: none;
    padding-left: 0;
}
.service-type {
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #2d2641;
}
.item-link {
    text-decoration: none;
    color: #2d2641;
}
.item-link:hover {
    text-decoration: underline;
}
/* site footer start  */